@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-foreground: #0f172a;
  
  --color-card: #ffffff;
  --color-card-foreground: #0f172a;
  
  --color-border: #e2e8f0;
  --color-primary: #3b82f6;
  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;

  --radius-lg: 0.75rem;
  --radius-md: calc(0.75rem - 2px);
  --radius-sm: calc(0.75rem - 4px);
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --color-background: #020617;
  --color-foreground: #f8fafc;
  
  --color-card: #030712;
  --color-card-foreground: #f8fafc;
  
  --color-border: #1e293b;
  --color-primary: #60a5fa;
  --color-muted: #0f172a;
  --color-muted-foreground: #94a3b8;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}